<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ulthaq.net.nz/thymeleaf/layout"
	layout:decorator="layout/mainLayout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>

<title>Insert title here</title>
<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div style="position: fixed; left: 0; width: 100%;" class="row-fluid">
				<div style="background-color: #064278;" class="span12">
					<h3 id="license" style="color: white; align: left">통합 라이선스 관리</h3>
				</div>
				<button id="mybutton" style="left: 0; width: 70px" class="btn btn-primary">설정</button>
			</div>
			<div></div>
		</div>
		<div style="background-color: #064278;" class="container-fluid">
			<div style="background-color: #064278;" class="row-fluid">
				<div style="background-color: lightgray;" class="span12 footer">
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript">
		$(document).ready(function(){
			$("#mybutton").click(function(){
				alert("it is my button");
			});
		});
		</script>
	</th:block>
</body>
</html>